@charset "UTF-8";
@font-face {
  font-family: 'sg-regular';
  src: url("../../src/fonts//sg-font.eot");
  src: local("☺"), url("../../src/fonts//sg-font.woff") format("woff"), url("../../src/fonts//sg-font.ttf") format("truetype"), url("../../src/fonts//sg-font.svg") format("svg");
  font-weight: regular;
  font-style: normal; }
